body {
    background-color: rgb(44, 42, 42);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(229, 225, 225);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 100%;
}


.nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}

.nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav ul li a:hover {
    color: rgba(174, 7, 7, 0.5);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

/*  */

.bio {
    max-width: 90%;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-links li a {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .profile {
        flex-direction: row;
        text-align: left;
        justify-content: center;
    }
    
    .profile-pic {
        width: 250px;
        height: 250px;
        margin-right: 20px;
    }
    
    .bio {
        max-width: 500px;
    }
}
